<div class="center jumbotron">
  <h1>Squeaker</h1>
  <p>
    Welcome to Squeaker! The greatest microblog since Twitter
  </p>

  <%= link_to "Create Account", signup_path, class: "btn btn-lg btn-primary" %>
</div>
